[submodule "src/data_msgs"]
	path = src/data_msgs
	url = https://github.com/agilexrobotics/data_msgs.git
	branch = ros2
[submodule "src/data_tools"]
	path = src/data_tools
	url = https://github.com/rtkg/data_tools.git
	branch = ros2
[submodule "src/PikaAnyArm"]
	path = src/PikaAnyArm
	url = https://github.com/agilexrobotics/PikaAnyArm.git
